{% extends 'base.html.twig' %}
{% block body %}
<h1>Choisissez votre inscription</h1>
  <form class="container-fluid justify-content-start">
    <button class="btn btn-outline-success me-2" type="button"><a href="/new">CDT</a></button>
    <button class="btn btn-sm btn-outline-secondary" type="button">ENT</button>
  </form>
{% endblock %}