{% extends 'base.html.twig' %}

{% block title %}New CDT{% endblock %}

{% block body %}
<div class="container" style="center">
    <h1>Create new CDT</h1></div>

    {{ include('cdt/_form.html.twig') }}

{% endblock %}
