{% extends 'baseTnt.html.twig' %}

{% block title %}New Entreprise{% endblock %}

{% block body %}
<div class="container" style="center">
    <h1>Inscrire ton Entreprise dans notre plateforme</h1>
    <br> <br>
</div>
    {{ include('entreprise/_form.html.twig') }}


{% endblock %}
