{% extends 'base.html.twig' %}
{% block body %}
<br><br>
<div class="container center p-4 p-md-3 mb-3 text-white rounded btn-dark"   style="height: 400px ; width: 50%" >
	<h1 class="center" style="center">Choisissez votre inscription</h1>
	<br>
	<form class="container center mb-3 ">

		<a href="/new">
			<button type="button" class="btn btn-success btn-lg">Chercheur du travail</button>
		</a>
		<br><br>
		<a href="/entreprise/new">
			<button type="button" class="btn btn-success btn-lg">Entreprise           </button>
		</a>

	</form>
</div>
{% endblock %}